@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<html>
    <head>
       <style>
         .active {
            color: red
         }
       </style>
    </head>
     <body>
            @RenderBody()
        </body>
</html>